html,
body {
  background: white;
  color: black;
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
  margin: 0;
  border: 0;
}

/* HEADER */

/* main banner */

header {
  background: url('../media/glasses-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 31rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* top row */

.top {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  top: 1rem;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav span {
  padding: 0 1rem;
}

#menu {
  display: none;
}

/* mid row */

.mid {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.mid span {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}

/* MAIN CONTENT */

/* grid */

.grid {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icons {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 0 3rem;
}

.icons img {
  min-width: 3.5rem;
  max-width: 5rem;
  max-height: 4rem;
}

.icons p {
  text-align: center;
}

/* ARTICLES */

.info {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.article {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
  width: 38%;
}

.heading {
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 50%;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  position: relative;
  top: 5rem;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
  }
  .top {
    top: 0;
    max-width: 1024px;
  }
  .mid {
    margin-top: 5rem;
  }
  .mid span {
    padding: 0.75rem 4rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }
  .heading {
    width: 70%;
  }
  .article {
    text-align: left;
  }
}

@media only screen and (max-width: 660px) {
  header {
    background-position: 20%;
    max-width: 660px;
  }
  nav span {
    display: none;
  }
  #menu {
    display: block;
  }
  .logo span {
    display: none;
  }
  .mid {
    margin-top: 13rem;
    justify-content: center;
  }
  .mid span {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  .grid {
    flex-flow: column wrap;
    align-items: center;
    margin: 3.77rem o;
  }
  .icons {
    margin: 1.54rem 0;
    font-size: 0.77rem;
  }
  .info {
    flex-flow: column;
  }
  .article {
    display: flex;
    text-align: justify;
    justify-content: center;
    width: 100%;
  }
  .article p {
    font-size: 0.77rem;
    width: 90%;
    padding: 0 5%;
  }
  .heading {
    padding: 0.5rem 0;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }
  footer span {
    display: none;
  }
  footer img {
    padding: 4rem;
    margin: 0 auto;
  }
